# Python Functions / Methods

Here are various examples on how we can use functions / Methods in Python.

## Basic Function

In [ ]:
def greet():
  print("Hello, Gusy!")


greet() # calling a function.

Hello, World!

## Function With Parameters

In [ ]:
def add_numbers(a, b): # parameters
  return a + b

result = add_numbers(5, 3) # arguments
print(result)

8

## Default Parameter Values

In [ ]:
def greet(name="Guest"):
  print(f"Hello, {name}")

greet()
greet("Alice")

Hello, Guest
Hello, Alice

##Return Multiple Values

In [ ]:
def get_square_and_cube(x):
  return x ** 2, x ** 3

square, cube = get_square_and_cube(3)
print("Square:", square)
print("Cube:", cube)

Square: 9
Cube: 27

## Variable Number of Arguments
Handling variable number of arguments using `*args`

In [ ]:
def add_all(*args):
  print(type(args))
  result = 0
  for num in args:
    result += num
  return result

result = add_all(1, 2, 3, 4, 5)
print(result)

result = add_all(1, 2, 3)
print(result)

<class 'tuple'>
15
<class 'tuple'>
6

## Keyword Arguments

In [ ]:
def display_info(name, age):
  print(f"Name: {name}, Age: {age}")

display_info(age=25, name="Alice")

Name: Alice, Age: 25

## Function within a Function
Defining a function within another function. Unlike other languages this is allowed in Python.

In [ ]:
def outer_function(x):
  def inner_function(y):
    return y * 2
  return inner_function(x)

result = outer_function(3)
print(result)

6

# Python Lists
Here are all the examples on how lists works in Python, with commonly used list methods.

## List Declaration and Initialization

In [ ]:
# Empty list
empty_list = []

# List with elements
numbers = [1, 2, 3, 4, 5]
fruits = ["apple", "banana", "cherry"]

# Mixed-type list
mixed_list = [1, "hello", 3.14, True]

# Nested list
nested_list = [[1, 2, 3], ["a", "b", "c"]]

print(empty_list)
print(numbers)
print(fruits)
print(mixed_list)
print(nested_list)

[]
[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]
[[1, 2, 3], ['a', 'b', 'c']]

## Accessing Elements

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Accessing elements by index
print(numbers[0])  # Output: 1
print(numbers[-1])  # Output: 5
print(numbers[2])

1
5
3

## Iterating over a list

In [ ]:
my_list = ["apple", "banana", "cherry", "kiwi"]

for element in my_list:
  print(element)


print("\nFor loop via index based:\n")
for i in range(len(my_list)):
  print(my_list[i])

apple
banana
cherry
kiwi

For loop via index based:

apple
banana
cherry
kiwi

## List Concatenation and Repetition

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Concatenation
combined_list = list1 + list2
print(combined_list)

repeated_list = list1 * 3
print(repeated_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

## List Comprehensions

In [ ]:
# Squares of numbers from 1 to 5
squares = [x**2 for x in range(1, 6)]
print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

## List Slicing

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Slicing
print(numbers[1:4])  # Output: [2, 3, 4]

[2, 3, 4]

## Membership Testing

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Check if an element is in the list
is_3_present = 3 in numbers # This gives a boolean value if present gives True else would give False
print(is_3_present)  # Output: True

is_7_present = 7 in numbers
print(is_7_present)

True
False

## List Methods

In [ ]:
# Append
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)  # Output: [1, 2, 3, 4]



# Extend
numbers.extend([5, 6])
print(numbers)  # Output: [1, 2, 3, 4, 5, 6]



# Insert
numbers.insert(2, 99)
print(numbers)  # Output: [1, 2, 99, 3, 4, 5, 6]



# Remove
numbers.remove(3)
print(numbers)  # Output: [1, 2, 99, 4, 5, 6]



# Pop
popped = numbers.pop()
print(popped)   # Output: 6
print(numbers)  # Output: [1, 2, 99, 4, 5]



# Index
index = numbers.index(99)
print(index)    # Output: 2



# Count
count = numbers.count(4)
print(count)    # Output: 1



# Sort
numbers.sort()
print(numbers)  # Output: [1, 2, 4, 5, 99]



# Reverse
numbers.reverse()
print(numbers)  # Output: [99, 5, 4, 2, 1]



# Copy
numbers_copy = numbers.copy()

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[1, 2, 99, 3, 4, 5, 6]
[1, 2, 99, 4, 5, 6]
6
[1, 2, 99, 4, 5]
2
1
[1, 2, 4, 5, 99]
[99, 5, 4, 2, 1]

## Coding Questions

### Filter Even Numbers
Write a function that takes a list and returns a new list containing only the even numbers from the original list

In [ ]:
def filter_even_numbers(numbers):
  even_numbers = []
  for number in numbers:
    if number % 2 == 0:
      even_numbers.append(number)
  return even_numbers

# Example usage:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result_list = filter_even_numbers(original_list)
print(result_list)  # Expected output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

### Greet People differently
Write a function that takes two parameters - a list of names and a default greeting message. The function should print a personalized greeting for each name using the provided or default greeting.

In [ ]:
def greet_people(names, greeting="Hello"):
  for name in names:
    print(f"{greeting}, {name}")

# Example usage:
name_list = ["Alice", "Bob", "Charlie"]
greet_people(name_list)  # Should print default greetings
greet_people(name_list, "Hi")  # Should print personalized greetings with "Hi"

Hello, Alice
Hello, Bob
Hello, Charlie
Hi, Alice
Hi, Bob
Hi, Charlie

### Average of given numbers
Write a function called average that takes a variable number of arguments and returns the average of those arguments.

In [ ]:
def average(*args):
  sum = 0
  for arg in args:
    sum += arg
  return sum / len(args)

# Example usage:
result = average(1, 2, 3, 4, 5)
print(result)  # Expected output: 3.0

3.0

### Find Duplicates
Write a program to find whether the list has duplicates or not.

In [ ]:
def find_dup(my_list):
  for item in my_list:
    if my_list.count(item) > 1:
      return True
  return False

my_list = [1,2,3,4,9,10,15]
print(find_dup(my_list))

False

# Python Strings
Here are the examples on how Strings are in Python and commonly used string methods.

## String Declaration and Concatenation

In [ ]:
# String Declaration
string1 = "Hello"
string2 = 'World'

# String Concatenation
result = string1 + " " + string2
print(result)  # Output: Hello World

Hello World

##  String Indexing and Slicing

In [ ]:
my_string = "Python"

# Indexing
first_char = my_string[0]
last_char = my_string[-1]

# Slicing
substring = my_string[1:4]  # Gets characters from index 1 to 3
print("first char:", first_char)
print("last char:", last_char)
print("substring:", substring)  # Output: P n yth

first char: P
last char: n
substring: yth

## String Length

In [ ]:
my_string = "Hello, World!"

length = len(my_string)
print(length)  # Output: 13

13

## String Methods

In [ ]:
my_string = "   Hello, World!   "

# Strip whitespace
stripped_string = my_string.strip()

# Convert to lowercase and uppercase
lowercase = my_string.lower()
uppercase = my_string.upper()

# Replace
new_string = my_string.replace("Hello", "Hi")

print(stripped_string)
print(lowercase)
print(uppercase)
print(new_string)

Hello, World!
   hello, world!
   HELLO, WORLD!
   Hi, World!

### Count Substring occurrences

In [ ]:
my_string = "abracadabraarar"
substring = "ra"

# Count occurrences of a substring
count_occurrences = my_string.count(substring)

print(count_occurrences)  # Output: 2

3

### Check Start and End

In [ ]:
my_string = "Hello, World!"

# Check if the string starts or ends with a specific substring
starts_with_hello = my_string.startswith("Hello")
ends_with_world = my_string.endswith("World!")

print(starts_with_hello, ends_with_world)  # Output: True True

True True

### Check Character Types

In [ ]:
my_string = "abc123"

# Check if all characters are alphanumeric
is_alphanumeric = my_string.isalnum()

# Check if all characters are alphabetic
is_alpha = my_string.isalpha()

# Check if all characters are digits
is_digit = my_string.isdigit()

print(is_alphanumeric, is_alpha, is_digit)  # Output: True False False

True False False

### String Capitalization

In [ ]:
my_string = "hello world"

# Capitalize the first letter
capitalized_string = my_string.capitalize()

# Title case (capitalize the first letter of each word)
title_case_string = my_string.title()

print(capitalized_string, title_case_string)

Hello world Hello World

## String Formatting (f-strings)

In [ ]:
name = "Alice"
age = 30

# Using f-strings
formatted_string = f"My name is {name} and I am {age} years old."

print(formatted_string)

My name is Alice and I am 30 years old.

## String Splitting and Joining

In [ ]:
my_string = "apple,orange,banana"

# Split string into a list
fruits_list = my_string.split(',')

# Join list elements into a string
new_string = '-'.join(fruits_list)

print(fruits_list)
print(new_string)

['apple', 'orange', 'banana']
apple-orange-banana

## Checking Substrings

In [ ]:
sentence = "The quick brown fox jumps over the lazy dog"

# Check if a substring is present
contains_fox = "fox" in sentence

# Find the index of a substring
index_of_brown = sentence.find("brown")

print(contains_fox, index_of_brown)

True 10

## String Formatting with %

In [ ]:
name = "Bob"
age = 25

# Using % for formatting
formatted_string = "My name is %s and I am %d years old." % (name, age)

print(formatted_string)

My name is Bob and I am 25 years old.

## String formatting with `format`

In [ ]:
name = "Alice"
age = 30

# Using the format method for string formatting
formatted_string = "My name is {} and I am {} years old.".format(name, age)

print(formatted_string)

My name is Alice and I am 30 years old.

## Escape Characters
Escape characters in Python are special characters preceded by a backslash (\) that are used to represent characters that are difficult to input directly or might be misinterpreted. Here are some commonly used escape characters along with examples:

### NewLine (`\n`)
Inserts a newline character

In [ ]:
multiline_string = "This is a line.\nThis is a new line."
print(multiline_string)

This is a line.
This is a new line.

### Tab (`\t`)
Inserts a tab character

In [ ]:
indented_string = "This is a\ttabbed line."
print(indented_string)

This is a	tabbed line.

### Backslash (`\\`)
Inserts a literal backslash

In [ ]:
backslash_string = "This is a backslash: \\"
print(backslash_string)

This is a backslash: \

### Single Quote (\') and Double Quote (\"):
Inserts a literal single quote or double quote.

In [ ]:
single_quote_string = 'He said, \'Hello!\''
double_quote_string = "She said, \"Hi!\""
print(single_quote_string)
print(double_quote_string)

He said, 'Hello!'
She said, "Hi!"

### Raw Strings (r or R prefix):
Treats backslashes as literal characters, useful for regular expressions.

In [ ]:
raw_string = r"This is a raw string.\nIt won't interpret escape characters."
print(raw_string)

This is a raw string.\nIt won't interpret escape characters.

# Python Tuples
Here are the examples and usage of Tuples

## Tuple Declaration and Access

In [ ]:
# Tuple Declaration
my_tuple = (1, 2, 3, "apple", "banana")

# Accessing elements
first_element = my_tuple[0]
last_element = my_tuple[-1]

print(first_element, last_element)  # Output: 1 banana

1 banana

## Tuple Unpacking

In [ ]:
# Unpacking into variables
my_tuple = (1, 2, 3, "apple", "banana")

a, b, c, d, e = my_tuple

print(a, b, c, d, e)

a, b, *rest = my_tuple

print(a, b, rest)  # Output: 1 2 [3, 'apple', 'banana']

1 2 3 apple banana
1 2 [3, 'apple', 'banana']

## Tuple Concatenation

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = ("apple", "banana")

# Concatenating tuples
combined_tuple = tuple1 + tuple2

print(combined_tuple)  # Output: (1, 2, 3, 'apple', 'banana')

(1, 2, 3, 'apple', 'banana')

## Tuple Methods

### Count

In [ ]:
numbers = (1, 2, 3, 4, 5, 2)

# Count occurrences of a value
count_of_2 = numbers.count(2)
print(count_of_2)

2

### Index

In [ ]:
numbers = (1, 2, 3, 4, 5, 2)

# Find the index of a value
index_of_4 = numbers.index(4)

print(index_of_4)

3

### Length

In [ ]:
my_tuple = (10, 20, 30, "apple", "banana")

# Get the length of a tuple
length = len(my_tuple)

print(length)  # Output: 5

5

### Max and Min Functions

In [ ]:
numbers = (5, 8, 3, 2, 10)

# Find the maximum and minimum values in a tuple
max_value = max(numbers)
min_value = min(numbers)

print(max_value, min_value)  # Output: 10 2

10 2

### Checking Membership

In [ ]:
fruits = ("apple", "orange", "banana")

# Check if an item is in the tuple
is_apple_present = "apple" in fruits
is_grape_present = "grape" in fruits

print(is_apple_present, is_grape_present)  # Output: True False

True False

### `any()` and `all()` Functions

In [ ]:
boolean_values = (True, True, False, True)

# Check if any or all elements are True
any_true = any(boolean_values)
all_true = all(boolean_values)

print(any_true, all_true)  # Output: True False

True False

## Tuple Comparison

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Compare tuples
is_smaller = tuple1 < tuple2

print(is_smaller)  # Output: True

True

## Nested Tuples

In [ ]:
nested_tuple = ((1, 2, 3), ("apple", "banana"), ("x", "y", "z"))

print(nested_tuple[1][0])  # Output: apple

apple

## Immutable Nature of Tuples

In [ ]:
my_tuple = (1, 2, 3)

# Attempting to modify a tuple will result in an error
# Uncommenting the next line will raise an error
# my_tuple[0] = 10

## Returning Multiple Values from a Function

In [ ]:
def return_coordinates():
    x = 10
    y = 20
    z = 30
    return x, y, z

coordinates = return_coordinates()
print(coordinates)  # Output: (10, 20, 30)

(10, 20, 30)

## Creating Single-Element Tuple

In [ ]:
single_element_tuple = (42,)

print(single_element_tuple)  # Output: (42,)

(42,)

## Using tuple() Constructor

In [ ]:
my_list = [1, 2, 3, 4]

# Converting a list to a tuple
tuple_from_list = tuple(my_list)

print(tuple_from_list)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

## Lists vs Tuples

In [ ]:
# compare the size
import sys

my_list = [0, 1, 2, 5, 10]
my_tuple = (0, 1, 2, 5, 10)

my_list_1 = my_list

my_list_1.append(100)
my_list.remove(0)
print(my_list)

print(id(my_list))
print(id(my_list_1))
print(id(my_tuple))

print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

[1, 2, 5, 10, 100]
137120221345344
137120221345344
137119765904128
104 bytes
80 bytes

# Coding Examples

## String in Uppercase
Write a function that takes a string as input and returns the string in uppercase.

In [ ]:
def to_uppercase(text):
  return text.upper()


input_string = input("Enter a string to be converted to uppercase:")
print(to_uppercase(input_string))

Enter a string to be converted to uppercase:wer
WER

## List with characters longer than 5
Write a function that takes a list of strings as input and returns a new list with all the strings that are longer than 5 characters.

In [ ]:
def long_strings(strings):
  return [string for string in strings if len(string) > 5]

my_list = ["python", "java", "c++", "go lang", "ruby", "c#", "javascript"]
print(long_strings(my_list))

['python', 'go lang', 'javascript']

## Swap First and Last
Write a function that takes a string as input and returns a new string with the first and last characters swapped.

In [ ]:
def swap_first_last(text):
  if len(text) < 2:
    return text
  return text[-1] + text[1:-1] + text[0]

input_string = input("Enter the input string to be swapped:")
print(swap_first_last(input_string))

Enter the input string to be swapped:swarup
pwarus

## Convert to Strings
Write a function that takes a tuple with mixed data types (strings, integers, floats) and returns a new tuple with all the elements converted to strings.

In [ ]:
def to_strings(data):
  return tuple(str(item) for item in data)

my_tuple = ("hello", 1, 2, 3, 4.56)
print(to_strings(my_tuple))

('hello', '1', '2', '3', '4.56')

## Reverse a Tuple
Write a function that takes a tuple as input and returns a new tuple with the elements reversed.

In [ ]:
def reverse_tuple(data):
  return tuple(data[::-1])

my_tuple = (1, 4, 6, 3, 10, 100)
print(reverse_tuple(my_tuple))

(100, 10, 3, 6, 4, 1)

## Check Palindrome
Palindrome - a word, phrase, or sequence that reads the same backwards as forwards, e.g. madam.
Write a program to find whether the given string is palindrome or not.

In [ ]:
def is_palindrome(s):
  start = 0
  end = len(s) - 1
  while start < end:
    if s[start] != s[end]:
      return False
    start += 1
    end -= 1
  return True

input_string = input("Enter the string to check if palindrome or not:")
print(is_palindrome(input_string))

Enter the string to check if palindrome or not:sws
True